
/* ––––––––––––––––––––––––––––––––––––––––––––––––––
megamenu.js STYLE STARTS HERE
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-container {
    width:auto;
    background: #fff;
}

.menu-mobile {
    display: none;
    padding: 20px;
}

.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
}

.menu-dropdown-icon > a:before {
    content: "";
    display: block;
    cursor: pointer;
    background:url(../img/arrow-down.png) center bottom no-repeat;
	position:absolute; width:100%; bottom:0; left:0; /*height:10px;*/ margin-bottom:14px;
	opacity:0;
	 -webkit-transition:all ease 0.5s;transition:all ease 0.5s;
}
.menu > ul > li.menu-dropdown-icon a{ position:relative;}
.menu > ul > li.menu-dropdown-icon:hover a:before, .menu > ul > li.menu-dropdown-icon.active a:before{ opacity:1; -webkit-transition:all ease 0.5s;transition:all ease 0.5s;}
.menu > ul > li.menu-dropdown-icon:hover ul li a:before, .menu > ul > li.menu-dropdown-icon.active ul li a:before{ display:none;}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    display: inline-block;
    padding: 0;
    margin: 0;
	/* -webkit-transition:all ease 0.5s;transition:all ease 0.5s;*/
    text-align: left;
}

.menu > ul > li a,
.menu > ul > li span {
    text-decoration: none;
    padding: 22px 25px;
    display: block;
	font-family: 'akrobatextrabold';
	font-size:16px;
	color:#000;
	line-height:44px;
	text-transform:uppercase;
	 -webkit-transition:all ease 0.5s;transition:all ease 0.5s;
}
.menu > ul > li  ul li a,
.menu > ul > li  ul li span{
	line-height:2;
	font-size:15px;
}

.menu > ul > li.active a{ color:var(--main-highlight-color);}/*my css*/

/*.menu > ul > li:hover {
    -webkit-transition:all ease 0.5s; transition:all ease 0.5s;
}

.domain-adviserwebsitepro-co-uk .menu > ul > li:hover {
    -webkit-transition:all ease 1s; transition:all ease 1s;
}*/
.menu > ul > li:hover a{color:var(--main-highlight-color); -webkit-transition:all ease 0.5s;transition:all ease 0.5s;}
.menu > ul > li a:active,
.menu > ul > li a:focus,
.menu > ul > li a:visited { /*background: transparent;*/ }
.menu > ul > li.menu-dropdown-icon:hover ul li a, .menu > ul > li.menu-dropdown-icon ul li a,
.menu > ul > li.menu-dropdown-icon:hover ul li span, .menu > ul > li.menu-dropdown-icon ul li span{ color:#000;}
.menu > ul > li.active ul.megamenu-inner li a{ background:none;}
.menu > ul > li.active ul.megamenu-inner li a{}
.menu > ul > li > ul > li > ul > li.active::after{ display:block;}
.menu > ul > li > ul > li > ul > li.active a{ text-decoration:underline;}


.menu > ul > li.menu-dropdown-icon ul.megamenu-inner {
    height: 0;
    opacity: 0;
    width: 75%;
    padding: 0px;
    position: absolute;
    z-index: 9990;
    right: -2px;
    margin: 0;
    transition: height 0.5s, opacity 0.001s ;
    -webkit-transition: height 0.5s, opacity 0.001s;
    list-style: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    transition-timing-function: linear;
    display: block !important;
}


/*.menu > ul > li.menu-dropdown-icon:hover ul.megamenu-inner {
    height: 550px;
    opacity: 1;
    background: transparent;
}*/

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > .megamenu-inner-item-wrapper > li:first-child{width: 29.6%;}
.menu > ul > li > ul > .megamenu-inner-item-wrapper > li { width:70.4%;
    margin: 0;
    padding-bottom: 0;
    list-style: none;    
    background: none;
    float: left;
}
.megamenu-inner-item-wrapper{display:-webkit-box;display:-ms-flexbox;display:flex; background: #fff; }


.menu > ul > li > ul > li a {
    color: #777;
    padding: 0px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #ccc;
}

.menu > ul > li > ul > .megamenu-inner-item-wrapper > li > ul {
 display:inline-block; 
    padding: 45px 60px;
    margin: 0px;
    list-style: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
	height: 100%;
	width:100%;
}



.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > .megamenu-inner-item-wrapper > li > ul > li {
    width: 50%; float: left;
    padding: 0px 4px 0 0;
    position:relative;
    margin: 0;
    font-size: .8em;
}


.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}
ul.megamenu-inner > ul > ul {
    padding-left: 0px;
}


/*19-12-2016*/
.megamenu-inner{}
.dream-project {
	/*padding: 30px 50px;*/
    text-align: center;
    background: #000;
    width: 100%;
    float: none;
	display:table;
}
.megamenu-inner img{max-width:100%;height: 100%;

-o-object-fit: cover;

   object-fit: cover;}
.dream-left {
    display:table-cell;
    padding: 30px 25px;
    vertical-align: middle;
}
.dream-left p{font-size:32px; color:#fff;text-transform:uppercase;padding: 25px 0; margin: 0; padding-right:0px; text-align:center;}
.dream-right {
    display: table-cell;
    padding: 30px 25px;
    vertical-align: middle;
}
.dream-right a{display:inline-block; background:none;color:#fff !important;font-size:16px;text-transform:uppercase;text-align:center; height:82px;line-height:82px;    font-family: 'akrobatextrabold';
    padding: 0px 25px;}
.dream-right a:hover, .dream-right a:focus{ background:#fff; color:#000 !important;}

.menu > ul > li > ul > .megamenu-inner-item-wrapper > li > ul > li:after {
    background: url(../img/hoverImgArrowRight.png) center left no-repeat;
    content: "";
    position: absolute;
    left: -24px;
    top: 6px;
    width: 15px;
    height: 15px;display:none;
}
.menu > ul > li > ul > .megamenu-inner-item-wrapper > li > ul > li:hover:after {display:block;}

.menu > ul > li > ul > .megamenu-inner-item-wrapper > li > ul > li a,
.menu > ul > li > ul > .megamenu-inner-item-wrapper > li > ul > li span {
    color: #000;
    border: 0;
    padding: 0;
    font-family: 'montserratregular';
}
.menu > ul > li > ul > .megamenu-inner-item-wrapper > li > ul > li a:hover {
   text-decoration:underline;
}

.menu > ul > li a.contact-button{ padding:0; width:265px; height:82px; border:none; background:none; color:#fff !important;  border:2px solid #fff;  line-height:82px; font-size:16px; font-family: 'montserratextralight'; text-transform:uppercase; margin:auto;}
.menu > ul > li a.contact-button:before{ display:none;}
.menu > ul > li a.contact-button:hover, .menu > ul > li a.contact-button:focus{ background:#fff; color:#000 !important;}


.menu > ul > li.menu-three-col > ul > li > ul{ padding-left: 45px;}
.menu > ul > li.menu-three-col > ul > li > ul > li a{ font-size:14px;}
.menu > ul > li.menu-three-col > ul > li > ul > li::after{ left: -25px;}

/*===================New Css =======================*/
.megamenu-img-block a{height:100%;}
.megamenu-inner-item-wrapper a {
    padding: 0px !important;
}
.menu > ul > li > ul > .megamenu-inner-item-wrapper > li:nth-child(2){
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
    height: 100%;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
}
	
.menu > ul > li .megamenu-inner-item-wrapper ul li{
	line-height:20px;
	margin-bottom:24px;	
	}
/*===================New Css End=======================*/

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width:1650px) { 
	.menu > ul > li a { padding: 22px 12px; } 
}

@media only screen and (max-width:1400px) {.domain-webprosites-co-uk .servContentInner .fcImg, .domain-webprosites-co-uk .servContentInner .fcText{display: inherit;}}
@media only screen and (max-width:1366px) {
	.domain-webprosites-co-uk .megamenu-inner-item-wrapper > li > a{
    padding-bottom:0px !important;
}

.domain-webprosites-co-uk .flipContent.right.clear .fcTextIn2 h2 {
    line-height: 40px;
}
}
@media only screen and (max-width:1280px) {
.menu > ul > li > ul > .megamenu-inner-item-wrapper > li > ul > li{float: none;display: inline-block;
vertical-align: middle;margin-bottom: 30px;}
.menu > ul > li > ul > .megamenu-inner-item-wrapper > li > ul > li a{line-height: 1.2;}

}
@media only screen and (max-width:1199px) {
    .header.active .menu-container { padding: 0px 0 0; width:100%; }
	.header.active .mobile-m.menu-mobile{ position:absolute; right:0; top:0;}
	
	.mobile-m, .menu{ background:#fff;}
	.menu-dropdown-icon a::before{ left: auto; margin-top: -5px; right: 38px; top: 50%; width: 20px;}
	div.menu > ul > li > ul { background: #f0f0f0; padding:45px 0;}
	div.menu > ul > li > ul > li > ul > li{ margin-bottom: 0;}
	
	
	.menu-container .menu > a.menu-mobile{ display:none;}
    .menu-mobile {
        display: block;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
    }
    .menu > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top:0px;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }
	.menu > ul > li > ul .megamenu-inner-item-wrapper > li.megamenu-img-block {
    display: none;
}
.menu > ul > li > ul > .megamenu-inner-item-wrapper > li:nth-child(2){width: 100%;}
.domain-webprosites-co-uk .servContent .fcText{flex-basis: 603px;}
.domain-webprosites-co-uk .flipContent.right.clear .fcTextIn2 h2 {
    line-height: 30px;
}


}
@media only screen and (max-width:767px) {
.menu > ul > li > ul > .megamenu-inner-item-wrapper > li > ul{padding: 10px 40px;}
.menu > ul > li > ul > .megamenu-inner-item-wrapper > li > ul > li a{font-size: 14px;}
.megamenu-inner-item-wrapper a {
    line-height: 44px !important;
    padding-bottom: 0px !important;
}
.menu > ul > li > ul > .megamenu-inner-item-wrapper > li > ul > li{width: 100%;}
.menu > ul > li > ul > .megamenu-inner-item-wrapper > li > ul > li{margin-bottom: 0;}
.bx-wrapper .bx-controls-direction a{width: 24px;
height: 24px;}
}
