
<section class="teamSec teamSec1">
  <div class="wrapperInner1">
    <section class="flipContentMain">
      {% for row in rows %}
        <div class="flipContent clear">
          {{ row }}
        </div>
        {% endfor %}
    </section>
  </div>
</section>
