<section class="testimonialSec">
  <div class="view-content grid" id="news-wrap" style="position: relative; height: 1624px;">
    <div class="grid-sizer"></div>
    {% for row in rows %}
      <div class="item">
        {{ row }}
      </div>
    {% endfor %}
  </div>
</section>
