<section class="sec blogListing">
  <div class="wrapperInner1">
    <ul class="list-unstyled blog-list clear view-content" id="blog_listing">
      {% for row in rows %}
        <li>
          {{ row }}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

