<section class="faq-cont">
  <div class="wrapperInner">
    <ul>
      <li class="set-row">
        {% for row in rows %}
          <ul>
            {{ row }}
          </ul>
        {% endfor %}
      </li>
    </ul>
  </div>
</section>
