<li>
  <span class="qustn-cont">
    <img src="{{ directory }}/img/ques.png" alt="">
  </span>
  <span class="qstn-detail">{{ fields.field_detailed_question.content }}</span>
</li>
<li>
  <span class="qustn-cont">
    <img src="{{ directory }}/img/ans.png" alt="">
  </span>
  <div class="ans-detail">
    {{ fields.field_answer.content }}
  </div>
</li>
